/* Font System */
@import url('https://rsms.me/inter/inter.css');
body { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    body { font-family: 'Inter var', sans-serif; }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    button:disabled {
        @apply grayscale opacity-50;
    }
}